<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->

<form action="/new_word" method="post">
    Escribe una palabra
    <br>
    <input type="text" name="user_word">
    <input type="submit" value="Siguiente">
  </form>
<% if @palabra %>
    <p>Anagramas: <bR></p>
    <% @palabra.each do |word| %>
      <p> <%= word.word %> <p><br>
    <% end %>
  <% end %>
